<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="admemberMapper">
	
	<resultMap id="AdMemberResult" type="Member">
		<result column="mem_no" property="memNo"></result>
		<result column="mem_name" property="memName"></result>
		<result column="mem_id" property="memId"></result>
		<result column="mem_pwd" property="memPwd"></result>
		<result column="nickname" property="nickName"></result>
		<result column="email" property="email"></result>
		<result column="gender" property="gender"></result>
		<result column="phone" property="phone"></result>
		<result column="manner" property="manner"></result>
		<result column="enroll_date" property="enrollDate"></result>
		<result column="age" property="age"></result>
		<result column="m_status" property="memStatus"></result>
	</resultMap>
	
	<resultMap id="BlackListResult" type="BlackList">
		<result column="black_no" property="blackNo"></result>
		<result column="black_id" property="blackId"></result>
		<result column="black_name" property="blackName"></result>
		<result column="nickname" property="nickName"></result>
		<result column="blackrp_count" property="blackrpCount"></result>
		<result column="black_enroll_date" property="blackEnrollDate"></result>
	</resultMap>
	
	<select id="selectMemberList" resultMap="AdMemberResult" parameterType="Member">
		select 
		    mem_no,
		    mem_name,
		    mem_id,
		    nickName,
		    enroll_date,
		    age,
		    m_status
		from member
			order by mem_no desc
	</select>
	
	<select id="selectMemberList2" resultMap="AdMemberResult" parameterType="Member">
		select 
		    mem_no,
		    mem_name,
		    mem_id,
		    mem_pwd,
		    nickName,
		    email,
		    gender,
		    age,
		    phone,
		    enroll_date,
		    manner,
		    m_status
		from member
	</select>
	
	<select id="selectMemberList3" resultMap="AdMemberResult">
		select 
		    mem_no,
		    mem_name,
		    MEM_PWD,
		    mem_id,
		    nickName,
		    EMAIL,
		    gender,
		    enroll_date,
		    phone,
		    age,
		    m_status
		from member
			where mem_No = #{memNo}
	</select>
	
	<select id="selectMemberCount" resultType="_int">
		select
				count(*)
			from member
		   where m_Status = 'Y'
	</select>
	
	<select id="idCheck" resultType="_int">
		select 
			count(*)
			from member
		   where  mem_Id = #{checkId}
	</select>

	<insert id="insertblackList">
		insert
			into blacklist
			(
				BLACK_NO
				,BLACK_ID
				,BLACK_NAME
				,NICKNAME
				,BLACKRP_COUNT
				,GENDER
				,PHONE
				,BLACK_ENROLL_DATE
				,BLACK_STATUS
			)
			select
			     SEQ_BLNO.NEXTVAL
				, m.MEM_ID
				, m.MEM_NAME
				, m.NICKNAME
				, m.RP_COUNT
				, m.GENDER
				, m.PHONE
				, SYSDATE
				, 'Y'
			
			FROM Member m
			WHERE m.MEM_ID = #{userID}
	</insert>
	
	<select id="selectBlackListCount" resultType="_int" >
		select
				count(*)
			from blackList
		   where black_Status = 'Y'
	</select>
	
	<select id="selectBlackList" resultMap="BlackListResult" parameterType="BlackList">
			select 
			    black_no,
			    black_id,
			    black_name,
			    nickname,
			    blackrp_count,
			    black_enroll_date
			from blackList
				where black_Status = 'Y'
				order
				by black_no desc 
	</select>

	<update id="updateBlackList">
		update 
			blacklist
		  set black_status ='N'
		    where black_id = #{memId}
	</update>
	
	<update id="adUpdateMember">
		update
			Member
		  set nickname = #{nickName},
		   	  phone = #{phone},
		   	  email = #{email},
		   	  m_Status = #{memStatus}
		  	where mem_no = #{memNo}
	</update>
	
	<insert id="insertExcel">
		insert 
			into member
			(
				mem_No,
				mem_id,
				mem_pwd,
				mem_name,
				nickname,
				email,
				gender,
				age,
				phone,
				manner,
				m_status
			)
			values
			(
				#{memNo},
				#{memId},
				#{memPwd},
				#{memName},
				#{nickName},
				#{email},
				#{gender},
				#{age},
				#{phone},
				#{manner},
				#{memStatus}
			)
	</insert>
</mapper>