<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<resultMap id="MemberResult" type="Member">
		<result column="mem_no" property="memNo"></result>
		<result column="mem_name" property="memName"></result>
		<result column="mem_id" property="memId"></result>
		<result column="nickname" property="nickname"></result>
		<result column="enroll_date" property="enrollDate"></result>
		<result column="age" property="age"></result>
	</resultMap>

	<select id="selectMemberList" resultMap="MemberResult" parameterType="Member">
		select 
		    mem_no,
		    mem_name,
		    mem_id,
		    nickname,
		    enroll_date,
		    age
		from member
	</select>

</mapper>