<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="ChatRoom" id="ChatRoomResult">
		<result column="CHATROOM_NO" property="chatRoomNo"/>
		<result column="REFCLUB_NO" property="refClubNo"/>
		<result column="CHAT_MEM" property="chatMem"/>
	</resultMap>
	
	<resultMap type="Chat" id="ChatResult">
		<result column="CHAT_WRITER" property="chatWriter"/>
		<result column="CHAT_CONTENT" property="chatContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="CHAT_ROOM" property="chatRoom"/>
	</resultMap>

	<select id="checkChatRoom" resultMap="ChatRoomResult">
		select 
		    chatroom_no,
		    chat_mem
		from chat_room
		where chat_mem = #{memNo}
	</select>
	
	<select id="selectChatList" resultMap="ChatResult">
		select 
		   CHAT_WRITER
		    ,CHAT_CONTENT
		    ,CREATE_DATE
		    ,CHAT_ROOM
		from chat
		where chat_room = #{chatRoomNo}
		order by create_date 
	</select>
	
	<insert id = "createChatRoom">
		insert into chat_room
		(
		    chatroom_no
		    ,chat_mem
		)
		values
		(
		    'CH'||SEQ_CHATROOM.NEXTVAL
		    ,#{memNo}
		)
	</insert>
	
		<insert id = "createChatRoom2">
		insert into chat_room
		(
		    chatroom_no
		    ,chat_mem
		)
		values
		(
		    'CH'||SEQ_CHATROOM.CURRVAL
		    ,#{memNo}
		)
	</insert>
	
	<insert id="chatInput">
		insert into chat
		(
		    CHAT_WRITER
		   ,CHAT_CONTENT
		   ,CREATE_DATE
		   ,CHAT_ROOM
		)
		values
		(
		     #{chatWriter}
		    ,#{chatContent}
		    ,SYSDATE
		    ,#{chatRoom}
		)
	</insert>


</mapper>