<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="Member" id="MemberResult">
		<result column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_name" property="memName"/>
		<result column="nickname" property="nickname"/>
		<result column="email" property="email"/>
		<result column="gender" property="gender"/>
		<result column="age" property="age"/>
		<result column="phone" property="phone"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="m_status" property="mStatus"/>
		<result column="manner" property="manner"/>
		<result column="interest" property="interest"/>
	</resultMap>
	
	<select id="loginMember" resultMap="MemberResult">
		select
		       mem_no
		     , mem_id
		     , mem_pwd
		     , mem_name
		     , nickname
		     , email
		     , gender
		     , age
		     , phone
		     , enroll_date
		     , m_status
		     , manner
		     , interest
		  from member
		 where mem_id = #{memId}
		   and mem_pwd = #{memPwd}	
	</select>
	
	<select id = "idCheck" resultType= "_int" >
		select count(*) from member
		where mem_id = #{checkId}
	</select>
	
	
	<insert id ="insertMember" parameterType="Member">

	insert 
    into 
    member
    (
        mem_no
       ,mem_id
       ,mem_pwd
       ,mem_name
       ,nickname
       ,email
       ,gender
       ,age
       ,phone
       ,enroll_date
       ,m_status
       ,manner
       ,reg_type
       ,rp_count
    )
    values
    (
        'M'||seq_mno.nextval
       ,#{memId}
       ,#{memPwd}
       ,#{memName}
       ,#{nickName}
       ,#{email}
       ,#{gender}
       ,#{age}
       ,#{phone}
       ,sysdate
       ,default
       ,36.5
       ,null
       ,default
    )
	</insert>
	
	<select id ="bringMemNo" resultType = "string" parameterType="Member">
		select mem_no
		from member
		where mem_id = #{memId}
	</select>
	
	
	<insert id="insertProfileImage"  parameterType="Attachment" >
		insert into attachment
		(
		    att_no
		   ,ref_fno
		   ,origin_name
		   ,update_name
		   ,file_path
		   ,enroll_date
		   ,category
		)
		values
		(
		    'AT'||seq_ano.nextval
		   ,#{refFno}
		   ,#{originName}
		   ,#{changeName}
		   ,#{filePath}
		   ,sysdate
		   ,'profileImage'
		)
	</insert>
	
</mapper>