<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="myfeedMapper">

	<resultMap type="Feed" id="myFeedResult">
		<result column="fe_no" property="feNo"/>
		<result column="ref_cno" property="refCno"/>
		<result column="fe_content" property="feContent"/>
		<result column="fe_date" property="feDate"/>
		<result column="fe_writer" property="feWriter"/>
		<result column="f_status" property="feStatus"/>
		<result column="like_count" property="likeCount"/>
	</resultMap>
	
	<resultMap type="Attachment" id="myFeedAttachResult">
		<result column="ATT_NO" property="attNo"/>
		<result column="REF_FNO" property="refFno"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="UPDATE_NAME" property="updateName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="thumbnail" property="thumbnail"/>
	</resultMap>
	
	<resultMap type="Reply" id="myFeedReplyResult">
		<result column="r_no" property="rvNo"/>
		<result column="mr_no" property="mrNo"/>
		<result column="cr_no" property="crNo"/>
		<result column="r_content" property="rvContent"/>
		<result column="r_date" property="rvDate"/>
		<result column="r_status" property="rvStatus"/>
		<result column="ref_fno" property="refFno"/>
		<result column="mem_no" property="memNo"/>
	</resultMap>
	
	<resultMap type="Member" id="FeedReplyMemberResult">
		<result column="nickname" property="nickName"/>
		<result column="img" property="img"/>
	</resultMap>

	<select id = "selectFeedDetail" resultMap = "myFeedResult">
		select 
			fe_no
           ,ref_cno
           ,fe_content
           ,fe_date
           ,fe_writer
           ,f_status
           ,like_count			
		from feed 
		where fe_no = #{feNo}
	</select>
	
	<select id = "selectFeedDetailImgList" resultMap = "myFeedAttachResult">
		select 
		    att_no
		   ,ref_fno
		   ,origin_name
		   ,update_name
		   ,file_path
		   ,enroll_date
		   ,thumbnail
		from attachment
		where ref_fno = #{feNo}
	</select>
	
	<insert id = "insertFeedReply">
		 insert into reply
		     (
		        r_no
		       ,mr_no
		       ,cr_no
		       ,r_content
		       ,r_date
		       ,r_status
		       ,ref_fno
		       ,mem_no
		     )
		     values
		     (
		        'RE'||seq_reno.nextval
		       ,null
		       ,null
		       ,#{rvContent}
		       ,sysdate
		       ,default
		       ,#{refFno}
		       ,#{memNo}
		     )
	</insert>
	
	<select id = "showFeedReply" resultMap = "myFeedReplyResult">
	 select 
	        r_no
	       ,mr_no
	       ,cr_no
	       ,r_content
	       ,r_date
	       ,r_status
	       ,ref_fno
	       ,mem_no
	  from reply
	  where 
	  ref_fno = #{feNo}
	  order by r_no desc
	</select>
	
	<select id = "selectReplyMember" resultMap = "FeedReplyMemberResult">
		select 
		    nickname, 
		    img
		    from member
	    where mem_no = #{memNo}
	</select>
	
	 
</mapper>