<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="searchMapper">

	<resultMap type="Club" id="clubResult">
		<result column="c_no" property="cNo"/>
		<result column="c_title" property="cTitle"/>
		<result column="c_location" property="cLocation"/>
		<result column="c_date" property="cDate"/>
	</resultMap>
	
	<select id="selectSocialingListCount" resultType="_int">
		select
		count(*)
	from class
	where status = 'Y'
	</select>
	
	<select id="selectSocialingList" resultMap="clubResult">
		select
	        c_no
	    ,   c_title
	    ,   c_location
	    ,   c_date
	    from class
	    where status = 'Y'
	    order by c_no desc
	</select>
	
</mapper>